* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ## Colors */

  /* ### Primary */

  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);

  --Dark-desaturated-cyan:(graphic design text): hsl(167, 40%, 24%);
  --Dark-blue:(photography text): hsl(198, 62%, 26%);
  --Dark-moderate-cyan:(footer): hsl(168, 34%, 41%);
  --dark-letter: hsl(180, 1%, 20%);
  /* ### Neutral- */
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);

  /* font-family: 'Fraunces', serif;
  font-family: 'Barlow', sans-serif; */
}


html {
  font-size: 62.5%;
}

body {
  font-family: 'Barlow', sans-serif;
}

/* HEADER */
/* HEADER */
/* HEADER */

header {
  background-image: url('../images/desktop/image-header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.container-logo img {
  width: 160px;
}

a {
  text-decoration: none;
}

h1 {
  position: absolute;
  top: 20%;
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 50px;
  letter-spacing: 5px;
}

.menu-float {
  display: none;
}

.container-header{
  width: 95%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-menu ul {
  display: flex;
}

.container-menu ul li {
  list-style: none;
  padding-right: 60px;
}

.container-menu2 ul li {
  list-style: none;
}

.no-contact{
  text-decoration: none;
  color: var(--White);
  
  font-size: 18px;
}

.contact{
  color: var(--Very-dark-desaturated-blue);
  font-weight: 700;
  font-family: 'Fraunces', serif;
  padding: 15px 20px;
  border-radius: 50px;
  background-color: var(--White);
  text-decoration: none;
  font-size: 19px;
}

.contact:hover {
  color: var(--White);
  background-color: #ffffff41;
  transition: all .5s;
}

.content-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  justify-content: sp;
  height: 170px;
}

.content-arrow i {
  position: absolute;
  top: 390px;
  font-size: 50px;
  color: white;
}

.line-arrow {
  width: 6px;
  background-color: white;
  height: 140px;
  position: absolute;
  top: 280px;
}

.hero-item {
  display: flex;
}

.hero-item img {
  width: 100%;
}

.item {
  width: 50%;
}

h3 {
  font-family: 'Fraunces', serif;
  font-size: 50px;
  margin-top: 150px;
  width: 70%;
  color: var(--Dark-desaturated-cyan);
}

.text-egg, .text-pink {
  color: var(--Dark-grayish-blue);
  margin-top: 30px;
  width: 70%;
  font-size: 20px;
  line-height: 27px;
  font-family: 'Barlow', sans-serif;
  margin-bottom: 40px;
}



.title-egg, .text-egg {
  margin-left: 100px;
}

.yellow {
  border-bottom: 5px yellow solid;
  margin-left: 100px;
}

.pink {
  border-bottom: 5px hsl(7, 99%, 70%) solid;
  margin-left: 100px;
}

.learn-more {
  text-decoration: none;
  color: var(--Dark-desaturated-cyan);
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Fraunces', serif;
  padding: 0 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.text-pink, .title-pink {
  margin-left: 90px;
}

.cherry {
  position: relative;
  text-align: center;
  
}

.item .text-float {
  width: 100%;
  position: absolute;
  top: 60%;
  color: var(--dark-letter);
  font-family: 'Fraunces', serif;
  font-size: 28px;
}

.item .subtitle-float {

}

.item .description-float {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 50%;
  font-size: 16px;
  color: var(--Dark-grayish-blue);
  margin-top: 30px;
}

/* CLIENTS */
/* CLIENTS */
/* CLIENTS */


.client {
  padding-bottom: 100px;
}

.title-client {
  text-align: center;
  font-family: 'Fraunces', serif;
  margin: 120px 0 60px 0;
  font-size: 18px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--Dark-grayish-blue);
}

.container-clients {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.item-client {
  text-align: center;
  padding: 0 40px;
}

.item-client img {
  width: 60px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.description-client {
  font-size: 15px;
  color: var(--Dark-grayish-blue);
  line-height: 30px;
}

.name-client {
  font-family: 'Fraunces', serif;
  font-size: 16px;
  color: var(--Very-dark-desaturated-blue);
  font-weight: bold;
  margin-top: 50px;
}

.prof-client {
  margin-top: 10px;
  color: var(--Grayish-blue);
  font-size: 12px;
}


/* IMAGES */
/* IMAGES */
/* IMAGES */

.container-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.container-img img {
  width: 100%;
}

.footer {
  background-color: hsl(167, 42%, 71%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-img{
  margin: 50px 0;
  width: 200px;
}

.items-footer {
  width: 26%;
  display: flex;
  justify-content: space-around;
}

.items-footer a{
  text-decoration: none;
  color: hsl(168, 45%, 32%);
  font-size: 18px;
}

.items-footer a:hover {
  color: white;
  transition: all .5s;
}

.items-social {
  margin-top: 70px;
  width: 18%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.items-social a:hover {
  color: white;
}

.content-burguer {
  display: none;
}

.menu-responsive {
  display: none;
}

.menu {
  width: 85%;
  background-color: white;
  height: 100%;
  margin: 0 auto;
}

.triangle {
  height: 25px;
  display: flex;
  justify-content: flex-end;
  width: 85%;
  margin: 0 auto;
}

.icon-triangle {
  width: 0;
  height: 25px;
  border-left: 25px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 25px solid white;
}


/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */

@media screen and (max-width: 1300px) {
  h3 {
    margin-top: 80px;
  }

  
}

@media screen and (max-width: 1129px) {
  h3 {
    margin-top: 60px;
  }

  .title-egg, .text-egg, .title-pink, .text-pink, .learn-more {
    margin-left: 50px;
    width: 85%;
    margin-bottom: 20px;
  }

  .text-egg {
    width: 85%;
  }
}

@media screen and (max-width: 945px) {
  .hero-item-egg {
    flex-direction: column-reverse;
  }

  
  .hero-item-pink, .hero-item-fruits {
    flex-direction: column;
  }

  .item {
    width: 100%;
    text-align: center; 
  }

  h3 {
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
  }

  .title-egg, .title-pink{
    margin: 0 auto 20px auto;
    /* text-align: center; */
    width: 90%;
  }

  .text-egg, .text-pink {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 30px;
  }

  .learn-more {
    margin-top: 30px;
    margin-left: 0;
  }

  .item-egg, .item-pink{
    padding: 60px 0;
  }

  .container-clients {
    flex-direction: column;
  }

  .items-footer {
    width: 50%;
  }

  .item-client {
    padding: 0 11px 50px 11px;
  }

  .item-client img {
    margin-bottom: 30px;
  }

  .name-client {
    margin-top: 30px;
  }

  .title-client {
    margin: 85px 0 60px 0;
  }

  .client {
    padding-bottom: 50px;
  }

  .items-social {
    width: 60%;
  }

  .item .description-float {
    width: 90%;
    margin-top: 20px;
    line-height: 25px;
    color: var(--dark-letter);
  }

  .hero-item img {
    height: 500px;
    object-fit: cover;
  }
}


@media screen and (max-width: 800px) { 
  .container-menu {
    display: none;
  }

  .container-header {
    width: 85%;
  }

  .content-burguer {
    display: block;
    
  }

  .menu-responsive {
    display: block;
    margin: 0 auto;
    height: 322px;
    position: absolute;
    width: 100%;
    top: 80px;
  }

  .menu {
    width: 85%;
    background-color: white;
    height: 100%;
    margin: 0 auto;
  }

  .container-menu2 {
    height: 100%;
  }

  .container-menu2 a {
   
    font-size: 20px;
  }

  .container-menu2 ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .contact2 {
    padding: 15px 30px;
    border-radius: 30px;
    background-color: var(--Yellow);
    color: var(--dark-letter);
    font-family: 'Fraunces', serif;
  
   
  }

  .no-contact2 {
    color: var(--Grayish-blue);
  }
}

@media screen and (max-width: 425px) { 
  .container-img {
    grid-template-columns: repeat(2, 1fr);
  }

  .text-egg, .text-pink { 
    width: 71%;
    font-size: 15px;
  }

  h3 {
    font-size: 35px;
  }

  .items-footer {
    width: 100%;
  }

  h1 {
    font-size: 42px;
  }

  .container-logo img {
    width: 115px;
  }

  
}